---
import getPosts from "@/utils/getPosts";
import Card from "@/components/Card.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { SITE } from "@/consts";

const posts = await getPosts();
---

<RootLayout
    title=`Posts | ${SITE.title}`
    description={`All of the published blogs on ${SITE.title}`}
>
    <h1 class="mb-2 text-3xl font-bold">Posts</h1>

    <ul>
        {
            posts.map(post => (
                <Card
                    href={`/posts/${post.id}`}
                    postId={post.id}
                    frontmatter={post.data}
                />
            ))
        }
    </ul>
</RootLayout>
