---
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Prose from "@/components/Prose.astro";
import { useTranslations } from "@/i18n";
import RootLayout from "@/layouts/RootLayout.astro";
import getPosts from "@/utils/getPosts";
import { ArrowRight, Rss } from "@lucide/astro";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

const posts = await getPosts();
const projects = (await getCollection("project")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const currentLang = Astro.currentLocale;
const localized = useTranslations(currentLang);
---

<RootLayout>
    <section>
        <h1 class="my-4 text-3xl font-bold">
            {localized.INDEX.heading}
            <a
                target="_blank"
                href="/rss.xml"
                rel="noopener noreferrer"
                aria-label="rss-link"
                title="RSS Feed"
            >
                <Rss
                    class="stroke-d-accent m-auto inline-block size-5 align-middle"
                />
            </a>
        </h1>

        <Prose>
            <article>
                <p>
                    {localized.INDEX["para-1"]}
                </p>
                <p>
                    {localized.INDEX["para-2"]}
                </p>
            </article>
        </Prose>
    </section>

    <Hr />

    <section>
        <h2 class="text-2xl font-semibold tracking-wide">
            {localized.INDEX.recentposts}
        </h2>
        <ul>
            {
                posts.map(
                    ({ data, id }, index) =>
                        index < 4 && (
                            <Card
                                href={`/posts/${id}`}
                                postId={id}
                                frontmatter={data}
                            />
                        )
                )
            }
        </ul>
        <div class="my-4 text-center">
            <a
                href={getRelativeLocaleUrl(currentLang ?? "en", "posts")}
                class="group hover:text-d-accent inline-flex items-center justify-center gap-2"
            >
                {localized.INDEX.allposts}
                <ArrowRight
                    class="group-hover:text-d-accent text-d-txt-base size-4"
                />
            </a>
        </div>
    </section>

    <Hr />

    <section>
        <h2 class="text-2xl font-semibold tracking-wide">
            {localized.INDEX.recentprojects}
        </h2>
        <ul>
            {
                projects.map(
                    (project, index) =>
                        index < 1 && <ProjectCard {...project.data} />
                )
            }
        </ul>
        <div class="my-4 text-center">
            <a
                href={getRelativeLocaleUrl(currentLang ?? "en", "projects")}
                class="group hover:text-d-accent inline-flex items-center justify-center gap-2"
            >
                {localized.INDEX.viewmore}
                <ArrowRight
                    class="group-hover:text-d-accent text-d-txt-base size-4"
                />
            </a>
        </div>
    </section>
</RootLayout>
