---
import socialIcons from "@/assets/socialIcons";
import { SOCIALS } from "@/consts";
import { Rss } from "@lucide/astro";

export interface Props {
    centered?: boolean;
    showRss?: boolean;
}

const { centered = false, showRss = false } = Astro.props;

const activeSocials = SOCIALS.filter(social => social.active);
---

<div
    class:list={[
        "flex flex-wrap items-center space-y-2 gap-x-4",
        { "justify-center": centered }
    ]}
>
    {
        activeSocials.map(social => {
            const icon = socialIcons[social.name];
            return (
                <a
                    href={social.href}
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    aria-label={social.linkTitle}
                    title={social.linkTitle}
                    class="group"
                >
                    <div
                        class="group-hover:text-d-accent size-6 group-hover:scale-105"
                        set:html={icon}
                    />
                    <span class="sr-only">{social.linkTitle}</span>
                </a>
            );
        })
    }
    {
        showRss && (
            <a
                href="/rss.xml"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="RSS feed"
                title="RSS feed"
                class="group"
            >
                <Rss class="group-hover:text-d-accent size-6 stroke-2 align-middle group-hover:scale-105" />
                <span class="sr-only">Rss Feed</span>
            </a>
        )
    }
</div>
