---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import RootLayout from "./RootLayout.astro";
import Prose from "@/components/Prose.astro";
import { ChevronLeft, Calendar, Share2 } from "@lucide/astro";
import Tag from "@/components/Tag.astro";
import { slugify } from "@/utils/slugify";
import { SITE } from "@/consts";
import { useTranslations } from "@/i18n";

type Props = CollectionEntry<"blog">["data"] & { postId: string };

const {
    postId,
    title,
    author,
    description,
    pubDatetime,
    modDatetime,
    tags,
    draft,
    ogImage
} = Astro.props;

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(
    ogImageUrl ?? `/posts/${postId}/index.png`,
    Astro.url.origin
).href;
const currentLang = Astro.currentLocale;
const localized = useTranslations(currentLang);
---

<RootLayout
    title={`${title} | ${SITE.title}`}
    description={description}
    author={author}
    pubDatetime={pubDatetime}
    modDatetime={modDatetime}
    ogImage={ogUrl}
>
    <div class="my-4">
        <button
            aria-label="Go Back"
            class="flex cursor-pointer items-center justify-start gap-2 transition-opacity hover:opacity-75"
            onclick="history.back()"
        >
            <ChevronLeft class="size-4 stroke-2" />
            <span class="inline-block">{localized.bloglayout.goback}</span>
        </button>
    </div>

    <h1 class="text-d-accent mb-2 text-3xl font-bold" transition:name={postId}>
        {title}
    </h1>

    {
        draft ? (
            <div class="text-d-card-muted text-sm uppercase">[Draft]</div>
        ) : (
            <div class="my-2 flex items-center text-sm italic opacity-80">
                <Calendar class="mr-1 size-4" />
                {modDatetime && localized.bloglayout.updated}
                &nbsp;
                <FormattedDate date={modDatetime || pubDatetime} />
            </div>
        )
    }

    <article role="article">
        <Prose>
            <slot />
        </Prose>
    </article>

    <ul class="my-8 flex flex-wrap gap-3">
        {tags.map(tag => <Tag tag={slugify(tag)} tagName={tag} />)}
    </ul>

    <div class="my-4">
        <button
            aria-label="Share"
            id="share-btn"
            class="focus-outline flex cursor-pointer items-center justify-start gap-2 py-1 whitespace-nowrap hover:opacity-75"
        >
            <Share2 class="size-4" />
            {localized.bloglayout.share}
        </button>
    </div>
</RootLayout>

<script>
    function share() {
        const shareBtn = document.getElementById("share-btn");

        shareBtn?.addEventListener("click", async () => {
            try {
                await navigator.share({
                    title: document.title,
                    url: window.location.href
                });
                console.log("Page shared successfully");
            } catch (error) {
                console.error("Error sharing page:", error);
            }
        });
    }

    share();

    document.addEventListener("astro:after-swap", share);
</script>
